# Copy this file to /opt/apps/pospdv-backend/.env on your VPS
# and fill with real values

# Spring
SPRING_PROFILES_ACTIVE=prod

# Database
SPRING_DATASOURCE_URL=jdbc:postgresql://vps7348.integrator.host:5432/pospdv
SPRING_DATASOURCE_USERNAME=<DB_USERNAME>
SPRING_DATASOURCE_PASSWORD=<DB_PASSWORD>

# Flyway
SPRING_FLYWAY_URL=jdbc:postgresql://vps7348.integrator.host:5432/pospdv
SPRING_FLYWAY_USER=<DB_USERNAME>
SPRING_FLYWAY_PASSWORD=<DB_PASSWORD>
